.article {
    width: var(--card-width);
    margin: auto;
}

.article h1 {
    margin-bottom: var(--standard-padding);
}

.article-votes {
    margin: 0.2rem 0;
}

.article-img {
    margin: var(--standard-padding) auto;
}

.article-body {
    margin-bottom: var(--standard-padding);
}

.article-body::first-letter {
    font-family: var(--serif);
    float: left;
    font-size: 4rem;
    line-height: 2.7rem;
    padding: 0.1em 0.1em 0 0;
}

.article .loading-wrapper {
    margin-top: 40%;
}