.article {
    width: var(--card-width);
	margin: auto;
}

.vote-wrapper {
    display: flex;
    align-items: center;
    height: 2.5rem;
}

.vote-count {
    margin-right: 0.4rem;
}

.article-votes {
    margin: 0.2rem 0;
}

.like-or-dislike-button {
    padding: 0;
    margin: 0;
    color: var(--like-color);
    height: 2.5rem;
}

.article-img {
	margin: var(--standard-padding) auto;
}

.article-body {
    margin-bottom: var(--standard-padding);
}

.article-body::first-letter {
    font-family: var(--serif);
    float: left;
    font-size: 4rem;
    line-height: 2.7rem;
    padding: 0.1em 0.1em 0 0;
}

.comment-section {
    border-top: 0.4rem dotted var(--text-dark);
	width: var(--card-width);
}

.comment-input {
    padding: var(--standard-padding);
    border-radius: 1rem;
    margin: 0.5rem 0;
    height: 6rem;
    max-width: 100%;
    min-width: 100%;
    max-height: 30rem;
}

.comments-title {
    margin: var(--standard-padding) 0;
}

.submit-comment-card {
    background-color: var(--accent-secondary-light);
    display: flex;
    flex-direction: column;
}

#submit-comment-button {
    background-color: var(--text-dark);
    color: var(--accent-light);
    margin: auto;
    padding: 0.5rem 4rem;
}

#submit-comment-button:hover {
    background-color: var(--accent-light);
    color: var(--text-dark);
}

#submit-comment-button:active {
    box-shadow: inset 0 4px 4px var(--text-dark);
    transition: none;
}

.delete-comment-button {
    height: 2.5rem;
    padding: 0;
}

.trash-icon {
    font-size: 2.5rem;
}

.delete-wrapper {
    text-align: right;
    margin-top: 1rem;
}

.confirm-delete-wrapper {
    position: absolute;
    /* right: 25%;
    left: 25%; */
    /* margin-top: -120px; */
    text-align: center;
    background-color: var(--accent-secondary-light);
}

.confirm-delete-button {
    background-color: var(--text-dark);
    color: var(--accent-light);
    margin: auto;
    width: 3rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.comment-card-bottom {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

