header {
    position: fixed;
    top: 0;
    height: var(--header-height);
    width: 100vw;
    padding: 10px calc(var(--standard-padding) * 2) 10px var(--standard-padding);
    background-color: var(--main-dark);
    color: var(--text-dark);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.01rem 10px rgba(21, 13, 51, 30%);
    z-index: 100;
}

header h1 {
    font-family: var(--serif);
    font-weight: 700;
    font-size: 2rem;
    cursor: pointer;
}

.header-profile-pic {
    height: calc(var(--header-height) - var(--standard-padding));
    width: calc(var(--header-height) - var(--standard-padding));
    border-radius: 100%;
}

.header-user-info-wrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
