.topic-button {
    font-size: 1rem;
    background: var(--text-dark);
    color: var(--accent-light);
    margin: 0.1rem;
}

.topic-button:hover {
    background-color: var(--accent-light);
    color: var(--text-dark);
}

.topic-button:active {
    box-shadow: inset 0 4px 4px var(--text-dark);
    transition: none;
}

.selected-topic {
	background-color: var(--accent-light);
	color: var(--text-dark);
}
